.queue {
  border: 1px solid blue;
}

.queue-item {
  border: 1px solid green;
  margin: 2px;
  overflow: auto;
}

.queue-item.not-ready {
  background-color: green;
}

div.queue-item p {
  margin: 1px;
}


.queue-image-div {
    float: left;
    padding:5px;
}
.queue-cover {
    display: block;
 width:50px;
 height:50px;
}
.queue-content {
    margin-left: 60px
}

body {
  border: 0;
  margin: 0;
}

#content {
    width:100%;
    height:100%;
    position:absolute;
    display:block;
    top:0;
}

iframe {
  margin: 0 auto;
  display:block;
  height:100%;
  width:100%;
}

audio {
  display:none;
}
