body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
#page {
  width: 100%;
  max-width: 600px;
  height: 100%;
  box-sizing: border-box;
}
#header h1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
#header {
  color: #ffffff;
  z-index: 100;
  width: 100%;
  max-width: 600px;
  top: 0;
  background-color: #663399;
  border-bottom: 5px solid #ffffff;
  height: 70px;
}
#header-title {
  overflow: auto;
}
#header-title {
  margin-right: 100px;
  display: block;
}
#menu-toggle {
  width: 100px;
  float: right;
  display: block;
}
#_menu {
  padding: 0;
  box-sizing: border-box;
}
li {
  font-size: 1.5em;
  display: block;
  float: left;
  box-sizing: border-box;
}
#menu {
  display: block;
}
ul {
  padding: 0;
}
ul.button-small li {
  width: 20%;
  padding: 5px 10px;
}
li {
  width: 50%;
  padding: 10px;
}
button {
  border-radius: 14px;
  border: 1px solid #663399;
  padding: 5px 0 5px;
  text-align: center;
  width: 100%;
  background-color: #e6d9f2;
}
/*
button[data-alpha] {
  background-color: @main-color, 20%);
  color: @main-bg;
}
#menu button[data-page] {
  background-color: @main-color;
  color: @main-bg;
}
*/
#menu button[data-cmd] {
  background-color: #ffffff;
  color: #663399;
}
#container {
  width: 100%;
  max-width: 600px;
  color: #663399;
  background-color: #ffffff;
  overflow: auto;
}
#playing img {
  border: 1px solid #663399;
  padding: 3px;
  width: 80%;
  box-sizing: margin-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#currentTrack {
  text-align: center;
}
#currentArtist {
  font-size: 1.3em;
  text-align: center;
}
#currentAlbum {
  text-align: center;
}
#currentProgress {
  color: #663399;
  border: 1px solid #663399;
  background-color: #ffffff;
  width: 100%;
  height: 0.5em;
  padding: 2px;
  box-sizing: margin-box;
}
progress::-moz-progress-bar {
  background: #663399;
}
progress::-webkit-progress-value {
  background: #663399;
  color: #ffffff;
}
progress {
  color: #663399;
  width: 90%;
  box-sizing: border-box;
}
#currentProgressLabel {
  display: none;
  position: relative;
  left: 0%;
  width: 100%;
  box-sizing: border-box;
}
.page {
  display: none;
  padding: 5px;
  background-color: #ffffff;
  color: #326;
  box-sizing: border-box;
}
.listing > div {
  border-bottom: 2px solid #663399;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}
.listing h1 {
  color: #663399;
}
.listing b {
  color: #663399;
  font-size: 1.3em;
}
.listing p {
  margin: 1px;
  color: #333;
  margin-bottom: 10px;
}
.listing p span {
  color: #333;
  background-color: #e6d9f2;
  padding: 3px 20px;
  border-radius: 14px;
  float: right;
}
.queue-place {
  float: left;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: #663399;
  color: #FFF;
  text-align: center;
}
.queue-content {
  margin-left: 45px;
}
.track-list {
  clear: both;
  margin-top: 5px;
  background-color: #f5f1f8;
  margin-bottom: -10px;
}
.track-list > div {
  padding-left: 20px;
  border-bottom: 1px solid #999;
  padding-top: 10px;
  padding-bottom: 10px;
}
.track-cmd {
  padding-top: 10px;
  padding-bottom: 10px;
}
.track-cmd button {
  width: 20%;
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
.animation-flash {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: flash;
  animation-name: flash;
}
