body {
  background-color: #639;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2em;
}
h1 {
  color: Cornsilk;
  text-align: center;
}
#container {
  width: 100%;
  max-width: 600px;
  color: #FFF;
}
#playing {
  border: 1px solid #666;
  display: none;
  padding: 5px;
  background-color: #FFF;
  color: #326;
}
#playing img {
  border: 1px solid #639;
  padding: 3px;
  width: 100%;
  box-sizing: border-box;
}
#currentTrack {
  text-align: center;
}
#currentArtist {
  font-size: 1.3em;
  text-align: center;
}
#currentAlbum {
  text-align: center;
}
#currentArtist {} #playing div {} #currentProgress {
  color: #639;
  border: 1px solid #639;
  background-color: #FFF;
  width: 100%;
  height: 0.5em;
  padding: 2px;
}
progress::-moz-progress-bar {
  background: #639;
}
progress::-webkit-progress-value {
  background: #639;
  color: #FFF;
}
progress {
  color: #639;
}
#currentProgressLabel {
  display: none;
  position: relative;
  left: 0%;
  width: 100%;
}
