html.purple body {
  font-family: Verdana, Geneva, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #FFF;
  height: 100%;
}
html.purple #page {
  width: 100%;
  max-width: 600px;
  height: 100%;
  box-sizing: border-box;
}
html.purple #container {
  width: 100%;
  max-width: 600px;
  color: #639;
  background-color: #FFF;
  overflow: auto;
  position: relative;
}
html.purple a {
  text-decoration: none;
}
html.purple #container > div {
  position: relative;
}
html.purple .header {
  background-color: #639;
  color: #FFF;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #FFF;
}
html.purple #logo {
  background-color: #639;
  color: #FFF;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #FFF;
  padding-left: 10px;
}
html.purple #menu-toggle {
  background-color: #639;
  color: #FFF;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #FFF;
  z-index: 100;
  width: 1.2em;
  display: block;
  position: fixed;
  top: 0;
  text-align: center;
  display: none;
}
html.purple div#qr {
  /*   border: 2px solid @main-color; */
  padding: 10px;
  text-align: center;
}
html.purple div#qr img {
  padding: 10px;
  background: #FFF;
  display: block;
  margin: 0 auto;
}
html.purple div#messages {
  position: fixed;
  top: 3em;
  z-index: 101;
  width: 100%;
  pointer-events: none;
}
html.purple #messages ul li {
  background-color: #000;
  color: #FFF;
  display: block;
  padding: 10px;
  margin: 10px;
  float: none;
  border: 2px solid #CCC;
  box-sizing: border-box;
  border-radius: 25px;
  pointer-events: auto;
}
html.purple #hash {
  display: block;
}
html.purple .page {
  padding: 10px;
}
html.purple .hide {
  display: none;
}
html.purple #intro {
  margin-top: 50px;
  text-align: center;
}
html.purple .break-header {
  background-color: #639;
  color: #FFF;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
html.purple .clearfix:after {
  content: "";
  clear: both;
  display: table;
}
html.purple #artist > a,
html.purple #album > a {
  display: block;
  padding-top: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccbbdd;
  color: #639;
  text-decoration: none;
}
html.purple #artist > a:after {
  content: "";
  clear: both;
  display: table;
}
html.purple #artist > a.anchor,
html.purple #album > a.anchor {
  height: 0;
  padding: 0;
  border: 0;
}
html.purple #artist span {
  background-color: #ccbbdd;
  color: #FFF;
  padding: 3px 20px;
  border-radius: 25px;
  float: right;
}
html.purple #album span {
  color: #a385c2;
  display: block;
}
html.purple ul {
  padding: 0;
}
html.purple ul.button-small li {
  width: 20%;
}
html.purple ul li {
  padding: 10px;
  font-size: 1.2em;
  display: block;
  float: left;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
}
html.purple ul.menu li {
  min-width: 50%;
  font-size: 1.5em;
  padding: 3px;
}
html.purple li a {
  display: block;
  text-decoration: none;
  background-color: #639;
  color: #FFF;
  border-radius: 25px;
  padding: 10px;
}
html.purple div.track-cmd li a {
  padding: 3px 10px;
}
html.purple .album {
  margin-bottom: 20px;
}
html.purple .album img {
  width: 128px;
  height: 128px;
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid #639;
  padding: 1px;
  background-color: #FFF;
}
html.purple .album .album-title {
  margin-left: 148px;
  padding: 10px;
}
html.purple .album .album-artist {
  color: #a385c2;
  margin-left: 148px;
  padding: 10px;
}
html.purple div.album-tracks > div {
  border-bottom: 1px solid #ccbbdd;
  padding: 10px;
}
html.purple div.album-tracks > div:last-child {
  border-bottom: 0;
}
html.purple div.album-tracks div.track-title {
  margin-left: 2em;
}
html.purple div.album-tracks div.track-artist {
  margin-left: 2em;
  color: #a385c2;
}
html.purple div.album-tracks div.track-no {
  width: 1em;
  float: left;
}
html.purple .artist-album img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid #639;
  padding: 1px;
  background-color: #FFF;
}
html.purple .artist-album > a {
  text-decoration: none;
}
html.purple div.artist-album {
  background-color: #f0ebf5;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccbbdd;
}
html.purple div.artist-album > div {
  border-bottom: 1px solid #ccbbdd;
  padding: 10px;
}
html.purple div.artist-album > div:last-child {
  border-bottom: 0;
}
html.purple .album-head {
  padding: 10px;
  color: #FFF;
  background-color: #ccbbdd;
}
html.purple .track-user {
  font-size: 0.8em;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  clear: right;
}
html.purple div#queue img {
  clear: both;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  padding: 1px;
  background-color: #FFF;
  border: 1px solid #639;
}
html.purple .result-img {
  clear: both;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  padding: 1px;
  background-color: #FFF;
  border: 1px solid #639;
}
html.purple .result-source {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: right;
  position: relative;
  padding: 1px;
  background-color: #FFF;
  color: #639;
  border: 1px solid #639;
}
html.purple .result-duration {
  font-size: 0.75em;
  padding-left: 5px;
}
html.purple svg {
  width: 32px;
  height: 32px;
  padding-bottom: 10px;
  padding-left: 10px;
  float: right;
  position: relative;
}
html.purple path {
  fill: #639;
}
html.purple div.result-img {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 80px;
  float: left;
  position: relative;
  padding: 1px;
  margin-right: 10px;
  border: 1px solid #639;
  background-color: #FFF;
  text-align: center;
}
html.purple div.results > div {
  border-bottom: 1px solid #ccbbdd;
  padding: 10px;
}
html.purple div.results > div:last-child {
  border-bottom: 0;
}
html.purple div.results div.track-title {
  color: #a385c2;
}
html.purple div.results div.track-album {
  color: #a385c2;
}
html.purple .result-type {
  font-size: 0.8em;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #639;
  color: #FFF;
  margin-right: 10px;
  margin-bottom: 10px;
}
html.purple #search-text {
  background-color: #FFF;
  color: #639;
}
html.purple .queue-place {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #639;
  color: #FFF;
  text-align: center;
}
html.purple .queue-content {
  margin-left: 78px;
}
html.purple .queue-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #639;
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
html.purple .animation-flash {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: flash;
  animation-name: flash;
}
html.purple #currentCover {
  border: 1px solid #639;
  padding: 3px;
  width: 80%;
  box-sizing: margin-box;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
html.purple #currentTrack {
  text-align: center;
}
html.purple #currentMainTitle {
  font-size: 1.3em;
  text-align: center;
}
html.purple #currentSubTitle {
  text-align: center;
}
html.purple #currentProgress {
  color: #639;
  border: 1px solid #639;
  background-color: #FFF;
  width: 100%;
  height: 0.5em;
  padding: 2px;
  box-sizing: margin-box;
}
html.purple progress::-moz-progress-bar {
  background: #639;
}
html.purple progress::-webkit-progress-value {
  background: #639;
}
html.purple progress::-webkit-progress-bar {
  background: #FFF;
}
html.purple progress {
  color: #639;
  width: 90%;
  box-sizing: border-box;
}
html.purple #currentPosition {
  float: left;
}
html.purple #currentRemaining {
  float: right;
}
html.purple #currentProgressDiv.progressRemaining progress {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
}
html.purple #currentProgressDiv.progressPosition #currentRemaining {
  display: none;
}
html.purple #currentProgressDiv.progressRemaining #currentPosition {
  display: none;
}
li.style-menu.purple {
  width: 50%;
  padding: 3px;
}
li.style-menu.purple a {
  display: block;
  text-decoration: none;
  background-color: #639;
  color: #FFF;
  border-radius: 25px;
  border: 2px solid #FFF;
  padding: 10px;
}
html.red body {
  font-family: Verdana, Geneva, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #FFF;
  height: 100%;
}
html.red #page {
  width: 100%;
  max-width: 600px;
  height: 100%;
  box-sizing: border-box;
}
html.red #container {
  width: 100%;
  max-width: 600px;
  color: #900;
  background-color: #FFF;
  overflow: auto;
  position: relative;
}
html.red a {
  text-decoration: none;
}
html.red #container > div {
  position: relative;
}
html.red .header {
  background-color: #900;
  color: #FFF;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #FFF;
}
html.red #logo {
  background-color: #900;
  color: #FFF;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #FFF;
  padding-left: 10px;
}
html.red #menu-toggle {
  background-color: #900;
  color: #FFF;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #FFF;
  z-index: 100;
  width: 1.2em;
  display: block;
  position: fixed;
  top: 0;
  text-align: center;
  display: none;
}
html.red div#qr {
  /*   border: 2px solid @main-color; */
  padding: 10px;
  text-align: center;
}
html.red div#qr img {
  padding: 10px;
  background: #FFF;
  display: block;
  margin: 0 auto;
}
html.red div#messages {
  position: fixed;
  top: 3em;
  z-index: 101;
  width: 100%;
  pointer-events: none;
}
html.red #messages ul li {
  background-color: #000;
  color: #FFF;
  display: block;
  padding: 10px;
  margin: 10px;
  float: none;
  border: 2px solid #CCC;
  box-sizing: border-box;
  border-radius: 25px;
  pointer-events: auto;
}
html.red #hash {
  display: block;
}
html.red .page {
  padding: 10px;
}
html.red .hide {
  display: none;
}
html.red #intro {
  margin-top: 50px;
  text-align: center;
}
html.red .break-header {
  background-color: #900;
  color: #FFF;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
html.red .clearfix:after {
  content: "";
  clear: both;
  display: table;
}
html.red #artist > a,
html.red #album > a {
  display: block;
  padding-top: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddaaaa;
  color: #900;
  text-decoration: none;
}
html.red #artist > a:after {
  content: "";
  clear: both;
  display: table;
}
html.red #artist > a.anchor,
html.red #album > a.anchor {
  height: 0;
  padding: 0;
  border: 0;
}
html.red #artist span {
  background-color: #ddaaaa;
  color: #FFF;
  padding: 3px 20px;
  border-radius: 25px;
  float: right;
}
html.red #album span {
  color: #c26666;
  display: block;
}
html.red ul {
  padding: 0;
}
html.red ul.button-small li {
  width: 20%;
}
html.red ul li {
  padding: 10px;
  font-size: 1.2em;
  display: block;
  float: left;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
}
html.red ul.menu li {
  min-width: 50%;
  font-size: 1.5em;
  padding: 3px;
}
html.red li a {
  display: block;
  text-decoration: none;
  background-color: #900;
  color: #FFF;
  border-radius: 25px;
  padding: 10px;
}
html.red div.track-cmd li a {
  padding: 3px 10px;
}
html.red .album {
  margin-bottom: 20px;
}
html.red .album img {
  width: 128px;
  height: 128px;
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid #900;
  padding: 1px;
  background-color: #FFF;
}
html.red .album .album-title {
  margin-left: 148px;
  padding: 10px;
}
html.red .album .album-artist {
  color: #c26666;
  margin-left: 148px;
  padding: 10px;
}
html.red div.album-tracks > div {
  border-bottom: 1px solid #ddaaaa;
  padding: 10px;
}
html.red div.album-tracks > div:last-child {
  border-bottom: 0;
}
html.red div.album-tracks div.track-title {
  margin-left: 2em;
}
html.red div.album-tracks div.track-artist {
  margin-left: 2em;
  color: #c26666;
}
html.red div.album-tracks div.track-no {
  width: 1em;
  float: left;
}
html.red .artist-album img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid #900;
  padding: 1px;
  background-color: #FFF;
}
html.red .artist-album > a {
  text-decoration: none;
}
html.red div.artist-album {
  background-color: #f5e6e6;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddaaaa;
}
html.red div.artist-album > div {
  border-bottom: 1px solid #ddaaaa;
  padding: 10px;
}
html.red div.artist-album > div:last-child {
  border-bottom: 0;
}
html.red .album-head {
  padding: 10px;
  color: #FFF;
  background-color: #ddaaaa;
}
html.red .track-user {
  font-size: 0.8em;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  clear: right;
}
html.red div#queue img {
  clear: both;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  padding: 1px;
  background-color: #FFF;
  border: 1px solid #900;
}
html.red .result-img {
  clear: both;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  padding: 1px;
  background-color: #FFF;
  border: 1px solid #900;
}
html.red .result-source {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: right;
  position: relative;
  padding: 1px;
  background-color: #FFF;
  color: #900;
  border: 1px solid #900;
}
html.red .result-duration {
  font-size: 0.75em;
  padding-left: 5px;
}
html.red svg {
  width: 32px;
  height: 32px;
  padding-bottom: 10px;
  padding-left: 10px;
  float: right;
  position: relative;
}
html.red path {
  fill: #900;
}
html.red div.result-img {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 80px;
  float: left;
  position: relative;
  padding: 1px;
  margin-right: 10px;
  border: 1px solid #900;
  background-color: #FFF;
  text-align: center;
}
html.red div.results > div {
  border-bottom: 1px solid #ddaaaa;
  padding: 10px;
}
html.red div.results > div:last-child {
  border-bottom: 0;
}
html.red div.results div.track-title {
  color: #c26666;
}
html.red div.results div.track-album {
  color: #c26666;
}
html.red .result-type {
  font-size: 0.8em;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #900;
  color: #FFF;
  margin-right: 10px;
  margin-bottom: 10px;
}
html.red #search-text {
  background-color: #FFF;
  color: #900;
}
html.red .queue-place {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #900;
  color: #FFF;
  text-align: center;
}
html.red .queue-content {
  margin-left: 78px;
}
html.red .queue-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #900;
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
html.red .animation-flash {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: flash;
  animation-name: flash;
}
html.red #currentCover {
  border: 1px solid #900;
  padding: 3px;
  width: 80%;
  box-sizing: margin-box;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
html.red #currentTrack {
  text-align: center;
}
html.red #currentMainTitle {
  font-size: 1.3em;
  text-align: center;
}
html.red #currentSubTitle {
  text-align: center;
}
html.red #currentProgress {
  color: #900;
  border: 1px solid #900;
  background-color: #FFF;
  width: 100%;
  height: 0.5em;
  padding: 2px;
  box-sizing: margin-box;
}
html.red progress::-moz-progress-bar {
  background: #900;
}
html.red progress::-webkit-progress-value {
  background: #900;
}
html.red progress::-webkit-progress-bar {
  background: #FFF;
}
html.red progress {
  color: #900;
  width: 90%;
  box-sizing: border-box;
}
html.red #currentPosition {
  float: left;
}
html.red #currentRemaining {
  float: right;
}
html.red #currentProgressDiv.progressRemaining progress {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
}
html.red #currentProgressDiv.progressPosition #currentRemaining {
  display: none;
}
html.red #currentProgressDiv.progressRemaining #currentPosition {
  display: none;
}
li.style-menu.red {
  width: 50%;
  padding: 3px;
}
li.style-menu.red a {
  display: block;
  text-decoration: none;
  background-color: #900;
  color: #FFF;
  border-radius: 25px;
  border: 2px solid #FFF;
  padding: 10px;
}
html.green body {
  font-family: Verdana, Geneva, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #FFF;
  height: 100%;
}
html.green #page {
  width: 100%;
  max-width: 600px;
  height: 100%;
  box-sizing: border-box;
}
html.green #container {
  width: 100%;
  max-width: 600px;
  color: #006400;
  background-color: #FFF;
  overflow: auto;
  position: relative;
}
html.green a {
  text-decoration: none;
}
html.green #container > div {
  position: relative;
}
html.green .header {
  background-color: #006400;
  color: #FFF;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #FFF;
}
html.green #logo {
  background-color: #006400;
  color: #FFF;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #FFF;
  padding-left: 10px;
}
html.green #menu-toggle {
  background-color: #006400;
  color: #FFF;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #FFF;
  z-index: 100;
  width: 1.2em;
  display: block;
  position: fixed;
  top: 0;
  text-align: center;
  display: none;
}
html.green div#qr {
  /*   border: 2px solid @main-color; */
  padding: 10px;
  text-align: center;
}
html.green div#qr img {
  padding: 10px;
  background: #FFF;
  display: block;
  margin: 0 auto;
}
html.green div#messages {
  position: fixed;
  top: 3em;
  z-index: 101;
  width: 100%;
  pointer-events: none;
}
html.green #messages ul li {
  background-color: #000;
  color: #FFF;
  display: block;
  padding: 10px;
  margin: 10px;
  float: none;
  border: 2px solid #CCC;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: auto;
}
html.green #hash {
  display: block;
}
html.green .page {
  padding: 10px;
}
html.green .hide {
  display: none;
}
html.green #intro {
  margin-top: 50px;
  text-align: center;
}
html.green .break-header {
  background-color: #006400;
  color: #FFF;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
html.green .clearfix:after {
  content: "";
  clear: both;
  display: table;
}
html.green #artist > a,
html.green #album > a {
  display: block;
  padding-top: 10px;
  padding: 10px;
  border-bottom: 1px solid #aacbaa;
  color: #006400;
  text-decoration: none;
}
html.green #artist > a:after {
  content: "";
  clear: both;
  display: table;
}
html.green #artist > a.anchor,
html.green #album > a.anchor {
  height: 0;
  padding: 0;
  border: 0;
}
html.green #artist span {
  background-color: #aacbaa;
  color: #FFF;
  padding: 3px 20px;
  border-radius: 5px;
  float: right;
}
html.green #album span {
  color: #66a266;
  display: block;
}
html.green ul {
  padding: 0;
}
html.green ul.button-small li {
  width: 20%;
}
html.green ul li {
  padding: 10px;
  font-size: 1.2em;
  display: block;
  float: left;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
}
html.green ul.menu li {
  min-width: 50%;
  font-size: 1.5em;
  padding: 3px;
}
html.green li a {
  display: block;
  text-decoration: none;
  background-color: #006400;
  color: #FFF;
  border-radius: 5px;
  padding: 10px;
}
html.green div.track-cmd li a {
  padding: 3px 10px;
}
html.green .album {
  margin-bottom: 20px;
}
html.green .album img {
  width: 128px;
  height: 128px;
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid #006400;
  padding: 1px;
  background-color: #FFF;
}
html.green .album .album-title {
  margin-left: 148px;
  padding: 10px;
}
html.green .album .album-artist {
  color: #66a266;
  margin-left: 148px;
  padding: 10px;
}
html.green div.album-tracks > div {
  border-bottom: 1px solid #aacbaa;
  padding: 10px;
}
html.green div.album-tracks > div:last-child {
  border-bottom: 0;
}
html.green div.album-tracks div.track-title {
  margin-left: 2em;
}
html.green div.album-tracks div.track-artist {
  margin-left: 2em;
  color: #66a266;
}
html.green div.album-tracks div.track-no {
  width: 1em;
  float: left;
}
html.green .artist-album img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid #006400;
  padding: 1px;
  background-color: #FFF;
}
html.green .artist-album > a {
  text-decoration: none;
}
html.green div.artist-album {
  background-color: #e6f0e6;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #aacbaa;
}
html.green div.artist-album > div {
  border-bottom: 1px solid #aacbaa;
  padding: 10px;
}
html.green div.artist-album > div:last-child {
  border-bottom: 0;
}
html.green .album-head {
  padding: 10px;
  color: #FFF;
  background-color: #aacbaa;
}
html.green .track-user {
  font-size: 0.8em;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  clear: right;
}
html.green div#queue img {
  clear: both;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  padding: 1px;
  background-color: #FFF;
  border: 1px solid #006400;
}
html.green .result-img {
  clear: both;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  padding: 1px;
  background-color: #FFF;
  border: 1px solid #006400;
}
html.green .result-source {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: right;
  position: relative;
  padding: 1px;
  background-color: #FFF;
  color: #006400;
  border: 1px solid #006400;
}
html.green .result-duration {
  font-size: 0.75em;
  padding-left: 5px;
}
html.green svg {
  width: 32px;
  height: 32px;
  padding-bottom: 10px;
  padding-left: 10px;
  float: right;
  position: relative;
}
html.green path {
  fill: #006400;
}
html.green div.result-img {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 80px;
  float: left;
  position: relative;
  padding: 1px;
  margin-right: 10px;
  border: 1px solid #006400;
  background-color: #FFF;
  text-align: center;
}
html.green div.results > div {
  border-bottom: 1px solid #aacbaa;
  padding: 10px;
}
html.green div.results > div:last-child {
  border-bottom: 0;
}
html.green div.results div.track-title {
  color: #66a266;
}
html.green div.results div.track-album {
  color: #66a266;
}
html.green .result-type {
  font-size: 0.8em;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #006400;
  color: #FFF;
  margin-right: 10px;
  margin-bottom: 10px;
}
html.green #search-text {
  background-color: #FFF;
  color: #006400;
}
html.green .queue-place {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #006400;
  color: #FFF;
  text-align: center;
}
html.green .queue-content {
  margin-left: 78px;
}
html.green .queue-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #006400;
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
html.green .animation-flash {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: flash;
  animation-name: flash;
}
html.green #currentCover {
  border: 1px solid #006400;
  padding: 3px;
  width: 80%;
  box-sizing: margin-box;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
html.green #currentTrack {
  text-align: center;
}
html.green #currentMainTitle {
  font-size: 1.3em;
  text-align: center;
}
html.green #currentSubTitle {
  text-align: center;
}
html.green #currentProgress {
  color: #006400;
  border: 1px solid #006400;
  background-color: #FFF;
  width: 100%;
  height: 0.5em;
  padding: 2px;
  box-sizing: margin-box;
}
html.green progress::-moz-progress-bar {
  background: #006400;
}
html.green progress::-webkit-progress-value {
  background: #006400;
}
html.green progress::-webkit-progress-bar {
  background: #FFF;
}
html.green progress {
  color: #006400;
  width: 90%;
  box-sizing: border-box;
}
html.green #currentPosition {
  float: left;
}
html.green #currentRemaining {
  float: right;
}
html.green #currentProgressDiv.progressRemaining progress {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
}
html.green #currentProgressDiv.progressPosition #currentRemaining {
  display: none;
}
html.green #currentProgressDiv.progressRemaining #currentPosition {
  display: none;
}
li.style-menu.green {
  width: 50%;
  padding: 3px;
}
li.style-menu.green a {
  display: block;
  text-decoration: none;
  background-color: #006400;
  color: #FFF;
  border-radius: 5px;
  border: 2px solid #FFF;
  padding: 10px;
}
html.purple-inverse body {
  font-family: Verdana, Geneva, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #639;
  height: 100%;
}
html.purple-inverse #page {
  width: 100%;
  max-width: 600px;
  height: 100%;
  box-sizing: border-box;
}
html.purple-inverse #container {
  width: 100%;
  max-width: 600px;
  color: #FFF;
  background-color: #639;
  overflow: auto;
  position: relative;
}
html.purple-inverse a {
  text-decoration: none;
}
html.purple-inverse #container > div {
  position: relative;
}
html.purple-inverse .header {
  background-color: #FFF;
  color: #639;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #639;
}
html.purple-inverse #logo {
  background-color: #FFF;
  color: #639;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #639;
  padding-left: 10px;
}
html.purple-inverse #menu-toggle {
  background-color: #FFF;
  color: #639;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #639;
  z-index: 100;
  width: 1.2em;
  display: block;
  position: fixed;
  top: 0;
  text-align: center;
  display: none;
}
html.purple-inverse div#qr {
  /*   border: 2px solid @main-color; */
  padding: 10px;
  text-align: center;
}
html.purple-inverse div#qr img {
  padding: 10px;
  background: #FFF;
  display: block;
  margin: 0 auto;
}
html.purple-inverse div#messages {
  position: fixed;
  top: 3em;
  z-index: 101;
  width: 100%;
  pointer-events: none;
}
html.purple-inverse #messages ul li {
  background-color: #000;
  color: #FFF;
  display: block;
  padding: 10px;
  margin: 10px;
  float: none;
  border: 2px solid #CCC;
  box-sizing: border-box;
  border-radius: 25px;
  pointer-events: auto;
}
html.purple-inverse #hash {
  display: block;
}
html.purple-inverse .page {
  padding: 10px;
}
html.purple-inverse .hide {
  display: none;
}
html.purple-inverse #intro {
  margin-top: 50px;
  text-align: center;
}
html.purple-inverse .break-header {
  background-color: #FFF;
  color: #639;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
html.purple-inverse .clearfix:after {
  content: "";
  clear: both;
  display: table;
}
html.purple-inverse #artist > a,
html.purple-inverse #album > a {
  display: block;
  padding-top: 10px;
  padding: 10px;
  border-bottom: 1px solid #ffffff;
  color: #FFF;
  text-decoration: none;
}
html.purple-inverse #artist > a:after {
  content: "";
  clear: both;
  display: table;
}
html.purple-inverse #artist > a.anchor,
html.purple-inverse #album > a.anchor {
  height: 0;
  padding: 0;
  border: 0;
}
html.purple-inverse #artist span {
  background-color: #ffffff;
  color: #639;
  padding: 3px 20px;
  border-radius: 25px;
  float: right;
}
html.purple-inverse #album span {
  color: #ffffff;
  display: block;
}
html.purple-inverse ul {
  padding: 0;
}
html.purple-inverse ul.button-small li {
  width: 20%;
}
html.purple-inverse ul li {
  padding: 10px;
  font-size: 1.2em;
  display: block;
  float: left;
  box-sizing: border-box;
  text-align: center;
  color: #639;
}
html.purple-inverse ul.menu li {
  min-width: 50%;
  font-size: 1.5em;
  padding: 3px;
}
html.purple-inverse li a {
  display: block;
  text-decoration: none;
  background-color: #FFF;
  color: #639;
  border-radius: 25px;
  padding: 10px;
}
html.purple-inverse div.track-cmd li a {
  padding: 3px 10px;
}
html.purple-inverse .album {
  margin-bottom: 20px;
}
html.purple-inverse .album img {
  width: 128px;
  height: 128px;
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid #FFF;
  padding: 1px;
  background-color: #639;
}
html.purple-inverse .album .album-title {
  margin-left: 148px;
  padding: 10px;
}
html.purple-inverse .album .album-artist {
  color: #ffffff;
  margin-left: 148px;
  padding: 10px;
}
html.purple-inverse div.album-tracks > div {
  border-bottom: 1px solid #ffffff;
  padding: 10px;
}
html.purple-inverse div.album-tracks > div:last-child {
  border-bottom: 0;
}
html.purple-inverse div.album-tracks div.track-title {
  margin-left: 2em;
}
html.purple-inverse div.album-tracks div.track-artist {
  margin-left: 2em;
  color: #ffffff;
}
html.purple-inverse div.album-tracks div.track-no {
  width: 1em;
  float: left;
}
html.purple-inverse .artist-album img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid #FFF;
  padding: 1px;
  background-color: #639;
}
html.purple-inverse .artist-album > a {
  text-decoration: none;
}
html.purple-inverse div.artist-album {
  background-color: #7547a3;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ffffff;
}
html.purple-inverse div.artist-album > div {
  border-bottom: 1px solid #ffffff;
  padding: 10px;
}
html.purple-inverse div.artist-album > div:last-child {
  border-bottom: 0;
}
html.purple-inverse .album-head {
  padding: 10px;
  color: #639;
  background-color: #ffffff;
}
html.purple-inverse .track-user {
  font-size: 0.8em;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  clear: right;
}
html.purple-inverse div#queue img {
  clear: both;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  padding: 1px;
  background-color: #639;
  border: 1px solid #FFF;
}
html.purple-inverse .result-img {
  clear: both;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  padding: 1px;
  background-color: #639;
  border: 1px solid #FFF;
}
html.purple-inverse .result-source {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: right;
  position: relative;
  padding: 1px;
  background-color: #639;
  color: #FFF;
  border: 1px solid #FFF;
}
html.purple-inverse .result-duration {
  font-size: 0.75em;
  padding-left: 5px;
}
html.purple-inverse svg {
  width: 32px;
  height: 32px;
  padding-bottom: 10px;
  padding-left: 10px;
  float: right;
  position: relative;
}
html.purple-inverse path {
  fill: #FFF;
}
html.purple-inverse div.result-img {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 80px;
  float: left;
  position: relative;
  padding: 1px;
  margin-right: 10px;
  border: 1px solid #FFF;
  background-color: #639;
  text-align: center;
}
html.purple-inverse div.results > div {
  border-bottom: 1px solid #ffffff;
  padding: 10px;
}
html.purple-inverse div.results > div:last-child {
  border-bottom: 0;
}
html.purple-inverse div.results div.track-title {
  color: #ffffff;
}
html.purple-inverse div.results div.track-album {
  color: #ffffff;
}
html.purple-inverse .result-type {
  font-size: 0.8em;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #FFF;
  color: #639;
  margin-right: 10px;
  margin-bottom: 10px;
}
html.purple-inverse #search-text {
  background-color: #639;
  color: #FFF;
}
html.purple-inverse .queue-place {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #FFF;
  color: #639;
  text-align: center;
}
html.purple-inverse .queue-content {
  margin-left: 78px;
}
html.purple-inverse .queue-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #FFF;
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
html.purple-inverse .animation-flash {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: flash;
  animation-name: flash;
}
html.purple-inverse #currentCover {
  border: 1px solid #FFF;
  padding: 3px;
  width: 80%;
  box-sizing: margin-box;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
html.purple-inverse #currentTrack {
  text-align: center;
}
html.purple-inverse #currentMainTitle {
  font-size: 1.3em;
  text-align: center;
}
html.purple-inverse #currentSubTitle {
  text-align: center;
}
html.purple-inverse #currentProgress {
  color: #FFF;
  border: 1px solid #FFF;
  background-color: #639;
  width: 100%;
  height: 0.5em;
  padding: 2px;
  box-sizing: margin-box;
}
html.purple-inverse progress::-moz-progress-bar {
  background: #FFF;
}
html.purple-inverse progress::-webkit-progress-value {
  background: #FFF;
}
html.purple-inverse progress::-webkit-progress-bar {
  background: #639;
}
html.purple-inverse progress {
  color: #FFF;
  width: 90%;
  box-sizing: border-box;
}
html.purple-inverse #currentPosition {
  float: left;
}
html.purple-inverse #currentRemaining {
  float: right;
}
html.purple-inverse #currentProgressDiv.progressRemaining progress {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
}
html.purple-inverse #currentProgressDiv.progressPosition #currentRemaining {
  display: none;
}
html.purple-inverse #currentProgressDiv.progressRemaining #currentPosition {
  display: none;
}
li.style-menu.purple-inverse {
  width: 50%;
  padding: 3px;
}
li.style-menu.purple-inverse a {
  display: block;
  text-decoration: none;
  background-color: #FFF;
  color: #639;
  border-radius: 25px;
  border: 2px solid #639;
  padding: 10px;
}
html.night body {
  font-family: Verdana, Geneva, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #222;
  height: 100%;
}
html.night #page {
  width: 100%;
  max-width: 600px;
  height: 100%;
  box-sizing: border-box;
}
html.night #container {
  width: 100%;
  max-width: 600px;
  color: #999;
  background-color: #222;
  overflow: auto;
  position: relative;
}
html.night a {
  text-decoration: none;
}
html.night #container > div {
  position: relative;
}
html.night .header {
  background-color: #999;
  color: #222;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #222;
}
html.night #logo {
  background-color: #999;
  color: #222;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #222;
  padding-left: 10px;
}
html.night #menu-toggle {
  background-color: #999;
  color: #222;
  font-size: 3em;
  height: 1.2em;
  border: 3px solid #222;
  z-index: 100;
  width: 1.2em;
  display: block;
  position: fixed;
  top: 0;
  text-align: center;
  display: none;
}
html.night div#qr {
  /*   border: 2px solid @main-color; */
  padding: 10px;
  text-align: center;
}
html.night div#qr img {
  padding: 10px;
  background: #FFF;
  display: block;
  margin: 0 auto;
}
html.night div#messages {
  position: fixed;
  top: 3em;
  z-index: 101;
  width: 100%;
  pointer-events: none;
}
html.night #messages ul li {
  background-color: #000;
  color: #FFF;
  display: block;
  padding: 10px;
  margin: 10px;
  float: none;
  border: 2px solid #CCC;
  box-sizing: border-box;
  border-radius: 25px;
  pointer-events: auto;
}
html.night #hash {
  display: block;
}
html.night .page {
  padding: 10px;
}
html.night .hide {
  display: none;
}
html.night #intro {
  margin-top: 50px;
  text-align: center;
}
html.night .break-header {
  background-color: #999;
  color: #222;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
html.night .clearfix:after {
  content: "";
  clear: both;
  display: table;
}
html.night #artist > a,
html.night #album > a {
  display: block;
  padding-top: 10px;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  color: #999;
  text-decoration: none;
}
html.night #artist > a:after {
  content: "";
  clear: both;
  display: table;
}
html.night #artist > a.anchor,
html.night #album > a.anchor {
  height: 0;
  padding: 0;
  border: 0;
}
html.night #artist span {
  background-color: #dddddd;
  color: #222;
  padding: 3px 20px;
  border-radius: 25px;
  float: right;
}
html.night #album span {
  color: #c2c2c2;
  display: block;
}
html.night ul {
  padding: 0;
}
html.night ul.button-small li {
  width: 20%;
}
html.night ul li {
  padding: 10px;
  font-size: 1.2em;
  display: block;
  float: left;
  box-sizing: border-box;
  text-align: center;
  color: #222;
}
html.night ul.menu li {
  min-width: 50%;
  font-size: 1.5em;
  padding: 3px;
}
html.night li a {
  display: block;
  text-decoration: none;
  background-color: #999;
  color: #222;
  border-radius: 25px;
  padding: 10px;
}
html.night div.track-cmd li a {
  padding: 3px 10px;
}
html.night .album {
  margin-bottom: 20px;
}
html.night .album img {
  width: 128px;
  height: 128px;
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid #999;
  padding: 1px;
  background-color: #222;
}
html.night .album .album-title {
  margin-left: 148px;
  padding: 10px;
}
html.night .album .album-artist {
  color: #c2c2c2;
  margin-left: 148px;
  padding: 10px;
}
html.night div.album-tracks > div {
  border-bottom: 1px solid #dddddd;
  padding: 10px;
}
html.night div.album-tracks > div:last-child {
  border-bottom: 0;
}
html.night div.album-tracks div.track-title {
  margin-left: 2em;
}
html.night div.album-tracks div.track-artist {
  margin-left: 2em;
  color: #c2c2c2;
}
html.night div.album-tracks div.track-no {
  width: 1em;
  float: left;
}
html.night .artist-album img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  border: 1px solid #999;
  padding: 1px;
  background-color: #222;
}
html.night .artist-album > a {
  text-decoration: none;
}
html.night div.artist-album {
  background-color: #2e2e2e;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #dddddd;
}
html.night div.artist-album > div {
  border-bottom: 1px solid #dddddd;
  padding: 10px;
}
html.night div.artist-album > div:last-child {
  border-bottom: 0;
}
html.night .album-head {
  padding: 10px;
  color: #222;
  background-color: #dddddd;
}
html.night .track-user {
  font-size: 0.8em;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  clear: right;
}
html.night div#queue img {
  clear: both;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  padding: 1px;
  background-color: #222;
  border: 1px solid #999;
}
html.night .result-img {
  clear: both;
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: left;
  position: relative;
  padding: 1px;
  background-color: #222;
  border: 1px solid #999;
}
html.night .result-source {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  float: right;
  position: relative;
  padding: 1px;
  background-color: #222;
  color: #999;
  border: 1px solid #999;
}
html.night .result-duration {
  font-size: 0.75em;
  padding-left: 5px;
}
html.night svg {
  width: 32px;
  height: 32px;
  padding-bottom: 10px;
  padding-left: 10px;
  float: right;
  position: relative;
}
html.night path {
  fill: #999;
}
html.night div.result-img {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 80px;
  float: left;
  position: relative;
  padding: 1px;
  margin-right: 10px;
  border: 1px solid #999;
  background-color: #222;
  text-align: center;
}
html.night div.results > div {
  border-bottom: 1px solid #dddddd;
  padding: 10px;
}
html.night div.results > div:last-child {
  border-bottom: 0;
}
html.night div.results div.track-title {
  color: #c2c2c2;
}
html.night div.results div.track-album {
  color: #c2c2c2;
}
html.night .result-type {
  font-size: 0.8em;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #999;
  color: #222;
  margin-right: 10px;
  margin-bottom: 10px;
}
html.night #search-text {
  background-color: #222;
  color: #999;
}
html.night .queue-place {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: #999;
  color: #222;
  text-align: center;
}
html.night .queue-content {
  margin-left: 78px;
}
html.night .queue-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
}
html.night .animation-flash {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: flash;
  animation-name: flash;
}
html.night #currentCover {
  border: 1px solid #999;
  padding: 3px;
  width: 80%;
  box-sizing: margin-box;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
html.night #currentTrack {
  text-align: center;
}
html.night #currentMainTitle {
  font-size: 1.3em;
  text-align: center;
}
html.night #currentSubTitle {
  text-align: center;
}
html.night #currentProgress {
  color: #999;
  border: 1px solid #999;
  background-color: #222;
  width: 100%;
  height: 0.5em;
  padding: 2px;
  box-sizing: margin-box;
}
html.night progress::-moz-progress-bar {
  background: #999;
}
html.night progress::-webkit-progress-value {
  background: #999;
}
html.night progress::-webkit-progress-bar {
  background: #222;
}
html.night progress {
  color: #999;
  width: 90%;
  box-sizing: border-box;
}
html.night #currentPosition {
  float: left;
}
html.night #currentRemaining {
  float: right;
}
html.night #currentProgressDiv.progressRemaining progress {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
}
html.night #currentProgressDiv.progressPosition #currentRemaining {
  display: none;
}
html.night #currentProgressDiv.progressRemaining #currentPosition {
  display: none;
}
li.style-menu.night {
  width: 50%;
  padding: 3px;
}
li.style-menu.night a {
  display: block;
  text-decoration: none;
  background-color: #999;
  color: #222;
  border-radius: 25px;
  border: 2px solid #222;
  padding: 10px;
}
html.size-small .listing {
  font-size: 1em;
}
html.size-medium .listing {
  font-size: 1.3em;
}
html.size-large .listing {
  font-size: 1.6em;
}
html.size-xlarge .listing {
  font-size: 2em;
}
html {
  height: 100%;
}
