.create-style(purple;);

.create-style(red; @main-color:#900;);

.create-style(green; @main-color: #006400; @border-radius: 5px;);

.create-style(purple-inverse; @main-color: #FFF; @main-bg: #639;);

.create-style(night; @main-color: #999; @main-bg: #222;);


html.size-small .listing {
  font-size: 1em;
}

html.size-medium .listing {
  font-size: 1.3em;
}

html.size-large .listing {
  font-size: 1.6em;
}

html.size-xlarge .listing {
  font-size: 2em;
}

html{
  height: 100%;
}

// Function that creates the styles.

.create-style(
  @style-name;
  @main-color: #639;
  @main-bg: #FFF;

  @bg-secondry: mix(@main-color, @main-bg, 10%);

  @color-light: screen(@main-color, #AAA);
  @color-secondry: screen(@main-color, #666);

  @color-button: @main-color;
  @color-button: @color-secondry;

  @border-radius: 25px;
  @padding: 10px;

  @msg-bg:#000;
  @msg-fg:#FFF;
  @msg-border:#CCC;
){
  // main styles for the page
  html.@{style-name}{
    .tunes_base(
      @main-color;
      @main-bg;
      @bg-secondry;
      @color-light;
      @color-secondry;
      @color-button;
      @color-button;
      @border-radius;
      @padding;
      @msg-bg;
      @msg-fg;
      @msg-border;
    );
  }
  // style chooser button;
  li.style-menu.@{style-name} {
    .tunes_style(
      @main-color;
      @main-bg;
      @bg-secondry;
      @color-light;
      @color-secondry;
      @color-button;
      @color-button;
      @border-radius;
      @padding;
      @msg-bg;
      @msg-fg;
      @msg-border;
    );
  }
}

.tunes_style(
  @main-color;
  @main-bg;
  @bg-secondry;
  @color-light;
  @color-secondry;
  @color-button;
  @color-button;
  @border-radius;
  @padding;
  @msg-bg;
  @msg-fg;
  @msg-border;
){

  width:50%;
  padding:3px;

  a {
    display:block;
    text-decoration:none;
    background-color:@color-button;
    color:@main-bg;
    border-radius: @border-radius;
    border: 2px solid @main-bg;
    padding:@padding;
  }
}


.tunes_base(
  @main-color;
  @main-bg;
  @bg-secondry;
  @color-light;
  @color-secondry;
  @color-button;
  @color-button;
  @border-radius;
  @padding;
  @msg-bg;
  @msg-fg;
  @msg-border;
){

  body {
    font-family: Verdana, Geneva, sans-serif;
    padding: 0;
    margin:0;
    background-color: @main-bg;
    height:100%;
  }

  #page {
    width: 100%;
    max-width: 600px;
    height:100%;
    box-sizing: border-box;
  }

  #container {
    width: 100%;
    max-width: 600px;
    color: @main-color;
    background-color: @main-bg;
    overflow:auto;
    position:relative;
  }

  a {
    text-decoration:none;
  }

  #container > div {
    position:relative;
  }

  .header {
    background-color: @main-color;
    color: @main-bg;
    font-size:3em;
    height: 1.2em;
    border:3px solid @main-bg;
  }

  #logo {
    .header;
    padding-left:@padding;
  }

  #menu-toggle {
    .header;
    z-index:100;
    width: 1.2em;
    display: block;
    position:fixed;
    top:0;
    text-align:center;
    display:none;
  }

  div#messages {
    position:fixed;
    top:3em;
    z-index:101;
    width:100%;
    pointer-events:none;
  }

  #messages ul li {
    background-color:@msg-bg;
    color:@msg-fg;
    display:block;
    padding:@padding;
    margin:@padding;
    float:none;
    border:2px solid @msg-border;
    box-sizing: border-box;
    border-radius: @border-radius;
    pointer-events:auto;
  }

  #hash {
    display:block;
  }

  .page {
    padding:@padding;
  }

  .hide {
    display:none;
  }

  #intro {
    margin-top: 50px;
    text-align:center;
  }

  .break-header {
    background-color: @main-color;
    color:@main-bg;
    text-align:center;
    padding:@padding;
    margin-left:@padding;
    margin-right:@padding;
  }

  .clearfix:after {
    content: "";
    clear: both;
    display: table;
  }

  #artist > a, #album > a{
    display:block;
    padding-top:@padding;
    padding:@padding;
    border-bottom:1px solid @color-light;
    color:@main-color;
    text-decoration:none;
  }

  #artist > a:after {
    content: "";
    clear: both;
    display: table;
  }

  #artist > a.anchor, #album > a.anchor{
    height:0;
    padding:0;
    border:0;
  }

  #artist span{
    background-color:@color-light;
    color:@main-bg;
    padding:3px 20px;
    border-radius: @border-radius;
    float:right;
  }

  #album span{
    color:@color-secondry;
    display: block;
  }

  ul {
      padding:0;
  }

  ul.button-small li {
    width:20%;
  }

  ul li {
    padding: @padding;
    font-size: 1.2em;
    display: block;
    float:left;
    box-sizing: border-box;
    text-align:center;
    color:@main-bg;
  }

  ul.menu li {
    min-width:50%;
    font-size: 1.5em;
    padding:3px;
  }

  li a {
    display:block;
    text-decoration:none;
    background-color:@color-button;
    color:@main-bg;
    border-radius: @border-radius;
    padding:@padding;
  }
  div.track-cmd li a {
    padding:3px @padding;
  }
  .album {
    margin-bottom:@padding * 2;
  }

  .album img{
    width:128px;
    height:128px;
    margin-right:@padding;
    float:left;
    position:relative;
    border:1px solid @main-color;
    padding:1px;
    background-color:@main-bg;
  }

  .album .album-title{
    margin-left:138 + @padding;
    padding:@padding;
  }

  .album .album-artist{
    color: @color-secondry;
    margin-left:138 + @padding;
    padding:@padding;
  }

  div.album-tracks > div {
    border-bottom:1px solid @color-light;
    padding:@padding;
  }

  div.album-tracks > div:last-child {
    border-bottom:0;
  }

  div.album-tracks div.track-title {
      margin-left:2em;// + @padding;
  }

  div.album-tracks div.track-artist {
      margin-left:2em;// + @padding;
    color: @color-secondry;
  }

  div.album-tracks div.track-no {
    width:1em;
    float:left;
  }

  .artist-album img{
    width:64px;
    height:64px;
    margin-right:@padding;
    float:left;
    position:relative;
    border:1px solid @main-color;
    padding:1px;
    background-color:@main-bg;
  }

  .artist-album > a {
    text-decoration:none;
  }

  div.artist-album {
    background-color:@bg-secondry;
    margin-bottom:@padding;
    padding:@padding;
    border:1px solid @color-light;
  }

  div.artist-album > div {
    border-bottom:1px solid @color-light;
    padding:@padding;
  }

  div.artist-album > div:last-child {
    border-bottom:0;
  }

  .album-head{
    padding:@padding;
    color:@main-bg;
    background-color:@color-light;
  }


  div.results img, div#queue img{
    width:64px;
    height:64px;
    margin-right:@padding;
    float:left;
    position:relative;
    border:1px solid @main-color;
    padding:1px;
    background-color:@main-bg;
  }

  div.results > div {
    border-bottom:1px solid @color-light;
    padding:@padding;
  }

  div.results > div:last-child {
    border-bottom:0;
  }

  div.results div.track-title {
    color: @color-secondry;
  }

  div.results div.track-artist {
  }

  div.results div.track-album {
    color: @color-secondry;
  }

.yt {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  background-color: @main-color;
  color: @main-bg;
}

#search-text {
background-color: @main-bg;
color: @main-color;
}
  .queue-place {
   // float: left;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
  //  width: 30px;
  //  height: 30px;
    background-color: @main-color;
    color: @main-bg;
    text-align: center;
  }
  .queue-content {
    margin-left: 78px;
  }

  .queue-item {
    padding-top: @padding;
    padding-bottom: @padding;
    border-bottom: 1px solid @main-color;
  }


  @-webkit-keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0.2;
    }
  }
  @keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0.2;
    }
  }
  .animation-flash {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: flash;
    animation-name: flash;
  }

  #playing img {
    border: 1px solid @main-color;
    padding: 3px;
    width: 80%;
    box-sizing: margin-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #currentTrack {
    text-align: center;
  }

  #currentArtist {
    font-size: 1.3em;
    text-align: center;
  }

  #currentAlbum {
    text-align: center;
  }

  #currentArtist {} #playing div {} #currentProgress {
    color: @main-color;
    border: 1px solid @main-color;
    background-color: @main-bg;
    width: 100%;
    height: 0.5em;
    padding: 2px;
    box-sizing: margin-box;
  }

  progress::-moz-progress-bar {
    background: @main-color;
  }

  progress::-webkit-progress-value {
    background: @main-color;
  }

  progress::-webkit-progress-bar {
    background: @main-bg;
  }

  progress {
    color: @main-color;
    width:90%;
    box-sizing: border-box;
  }

  #currentPosition {
    float:left;
  }

  #currentRemaining {
    float:right;
  }

  #currentProgressDiv.progressRemaining progress {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
    -o-transform:rotate(180deg); /* Opera */
  }

  #currentProgressDiv.progressPosition #currentRemaining {
    display:none;
  }

  #currentProgressDiv.progressRemaining #currentPosition {
    display:none;
  }

}
